/* Portrait tablet and small desktops */
@media (max-width: 940px) {

    .homeMain {
    
        .wrapper {
            flex-direction: column;

            .graphicSection,
            .formSection {
                width: 100%;
            }

        }

    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    .homeMain {

        .displayControls {
            margin-top: 1rem;
        }

        .formSection {
            width: 70%;
            margin: 1rem auto 0 auto;
    
            .brandingStatement {
                font-size: 1.25rem;
                margin-bottom: 1rem;
                width: 100%;
            }
    
        }

    }

    .galleryMain {

        .studyControls {

            .playButton {
                width: 20%;
            }
    
        }

    }

}

/* Landscape phones and down */
@media (max-width: 480px) {

    .homeMain {

        .displayControls {
            margin-top: 1rem;
        }
   
        .formSection {
            width: 100%;
            margin-top: 1rem;
            position: relative;
    
            .brandingStatement {
                font-size: 1.25rem;
                margin-bottom: 1rem;
                text-align: center;
                width: 100%;
            }

            input[type="text"] {
                width: 100%;
            }

            button {
                width: 30%;
                margin-top: 1rem;
                padding: .5rem 0;
                position: relative;
                left: 70%;
            }

            p {
                font-size: .9rem;
            }
    
        }

        .graphicSection {
            width: 100%;

            .recentQuestion {
                width: 100%;
                
            }

            p {
                text-align: center;
            }

        }       
        
    }

    .galleryMain {

        .galleryHead {

            div:nth-child(1) {
                width: 40%;
            }

            div:nth-child(2) {
                width: 75%;
            }

            .galleryHeadline {
                font-size: 1.25rem;
            }

            p {
                font-size: .8rem;
            }

        }

        .questionCounter {
            font-size: .9rem;
        }

        .displayControls {
            margin-top: 1rem;
        }

        .studyControls {

            .playButton {
                width: 100%;
            }

        }
        
    }

}